@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

html, body {
  min-height: 100vh;
}

body {
  background: #614385;  /* fallback for old browsers */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #516395, #614385);
  
  background-size: 400% 400%;
	animation: gradient 45s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
